body {
  background-color: #f9dbbd;
  font-family: "Lucida Console", Courier, monospace;
  color: #6d6875;
  margin: 5em;
  padding: 1em;
}

.form {
  font-family: "Lucida Console", Courier, monospace;
}

.App {
  text-align: center;
}

.title {
  font-weight: bold;
}

.subtitle {
  font-weight:bold;
}

.App-link {
  text-decoration: none;
  color: crimson;
  font-weight: bold; 
  width: 300px;
  height: 100px;
  background: #f7d6e0;
  border-radius: 1px;

}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

#exercises {
  margin-left: auto;
  margin-right: auto;
}

tr, th {
  color: rgb(110, 11, 87);
  text-align: center;
  padding: 1em;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr, td {
  background-color: #fcb1a6;
  text-align: center;
  padding: 1em;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #ffa5ab;
  color: rgb(110, 11, 87);
}